*{
    margin: 0;
    padding: 0;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    text-align: center;
    font-family: 'cursive';
    background: rgb(255,0,0);
    background: linear-gradient(144deg, rgba(255,0,0,1) 25%, rgba(0,0,255,1) 50%, rgba(255,255,255,1) 85%);;
}
.happy{
    font-family: "Sofia", sans-serif;
    background: rgb(255,94,94);
    background: linear-gradient(144deg, rgba(255,94,94,1) 25%, rgba(255,255,255,1) 50%, rgba(1,7,89,1) 77%);    text-align: center;
    width: 500px;
    padding: 30px;
    margin-top: 30px;
    margin: auto;
    animation-name: happy;
  animation-duration: 4s;
  position: relative;
}
@keyframes happy {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
.img img{
    width: 600px;
    height: 300px;
    margin-top: 30px;
    box-shadow: 10px 10px 5px #858585;
}
.img{
    margin: auto;
}
.text{
    color: white;
    text-align: center;
    width: 500px;
    position: absolute;
    left: 420px;
}
.image{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}